* {
    background-color: #0e1319;
    color: #024f4b;
    -webkit-text-stroke: 0.2px rgb(84, 255, 252);
}

html, body {
    height: 100%;
}

header {
    height: 70%;
    width: 100%;
    float: right;
}

footer {
    height: 30%;
    width: 100%;
    float: right;
}

footer input {
    text-align: center;
}

footer, button {
    text-align: center;
    color: greenyellow;
}

footer button:hover {
    cursor: pointer;
}

input {
    background-color: gray;
    color: black;
    -webkit-text-stroke: 0
}

button {
    background-color: gray;
}

h1 {
    text-align: center;
}